@tailwind base;
@tailwind components;
@tailwind utilities;



body{

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #06f6fa 0%, #05e47f 100%);

}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.equal{
  grid-column: 3/5;
}
.ac{
  grid-column: 1/3;
}
